#agendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
    background-color: #c7f5d8;
    padding: 2rem;
    border-radius: 10px;
    max-width: 90vw;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: var(--color-title);
    margin: 80px 0;
}

@media (min-width: 650px) {
    form {
        max-width: 80vw;
        padding: 4rem;
    }
}

@media (min-width: 800px) {
    form {
        max-width: 70vw;
    }
}

@media (min-width: 900px) {
    form {
        max-width: 60vw;
    }
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input, select,  form button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}


input:focus, select:focus {
    border-color: #388538;
    outline: none;
}


.info-card {
  padding: 30px 15px;
  margin: 20px 0;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #e8f0e8;
  overflow-wrap: break-word;
}

.info-card span {
  display: flex;
  gap:  10px;
  justify-content: center;
  align-items: center;
}

.info-card p {
  color: #878f8e;
  margin: 0;
}
